.add {
    display: inline-flex;
    padding: 0.3rem;
    border-radius: 50%;
    margin-top: 1em;
    background-color: dodgerblue;
}

.add:hover {
    cursor: pointer;
}

.MuiSvgIcon-root {
    font-size: 2rem !important;
}