.reject {
    display: inline-flex;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: #ff0000;
}

.reject:hover {
    cursor: pointer;
}

.MuiSvgIcon-root {
    font-size: 2rem !important;
    color: white;
}